{% assign theme = site.data.themes[site.ui_theme] %}
<!-- Displays Social Media Icons based on _config.yml settings -->
<span style="color:{{ theme.social-color }};">
    {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" style="margin: 0 8px;">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-linkedin " style="font-size:2.7em;"></i></a>
        </span>
    {% endif %}
    {% if site.orcid %}
        <a href="https://orcid.org/{{ site.orcid }}" target="_blank" style="margin: 0 8px;">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-orcid " style="font-size:2.7em;"></i></a>
        </span>
    {% endif %}
    {% if site.googlescholar %}
        <a href="{{ site.googlescholar }}" target="_blank" style="margin: 0 8px;">
        <span style="color: {{ theme.social-color }};">
            <i class="fas fa-graduation-cap " style="font-size:2.7em;"></i></a>
        </span>
    {% endif %}
</span>
